*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(113,177,231,1) 22%, rgba(178,94,235,1) 73%);
}

.father__app{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    /* background: #f1f1f1; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.img__app{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}
.img__app img{
    width: 100%;
    height: 100%;
}

.form__app{
    width: 50%;
    margin-left: 20px;
    padding: 20px;
    background-color: rgb(66,55,98);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form__app form{
    width: 100%;
    padding: 20px;
}

.father__app input{
    background: linear-gradient(90deg, rgba(113,177,231,1) 22%, rgba(178,94,235,1) 73%);
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    color: #fff;
}
.father__app input::placeholder{
    color: #fff;
}

.father__app button{
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0;
    color: #fff;
    background: linear-gradient(90deg, rgba(178,94,235,1) 22%, rgba(113,177,231,1) 73%);
    cursor: pointer;
    transition: 0.5s;
}
.father__app button:hover{
    
    background: linear-gradient(90deg, rgb(116, 73, 145) 22%, rgb(90, 126, 155) 73%);
    font-size: 22px;
}


@media(max-width: 767px){
    .img__app{
        display: none;
    }
    .father__app{
        width: 80%;
        margin: 0 auto;
    }
    .form__app{
        width: 100%;
        margin-left: 0px;
        margin-top: 80px;
        padding: 20px;
    
    }
}